
<form autocomplete="off" class="autocomplete-form" action="/annotator_submit_query" method="POST">

  <div class="selected-keyword-container">

  </div>

  <div class="main-query-input-wrapper control-wrapper">

      <input type="text" id="queryInput" tabindex="1" name="query">

  </div>
  <input type="submit" class="button success" id="sendQuery" value="Send query">
</form>
