
<!--
    Autocomplete module

    This autocomplete is not usual implementation of it.
    It does NOT do any search in provided data, it just takes
    data it gets from source and displays it as options.

    It is mainly used with nodeJS backend to which we do AJAX 
    requests and response contains data to show to user.
-->
<form class="autocomplete-form" action="/collector/" method="POST">
    <div class="control-wrapper">

        <input type="text" id="query" tabindex="1" name="query">

    </div>
    <input type="submit" class="button success" id="sendQuery" value="Send query">
</form>

<!-- Autocomplete AJAX script -->
<script>

</script>