<div class="numResults small-12 medium-3 cell">
  <label>Number of results
      <input name="${nextPropertyIndex}][numResults]" type="number" value="500" step="1">
  </label>
</div>

<div class="aggregation small-12 medium-3 cell">
  <label>Transformation function
    <select name="${nextPropertyIndex}][aggregation]">
      <option value="100"  title="Softmax probabability vector from nerual network.">Softmax</option>
      <option selected value="200">Linear</option>
      <option value="900">No transform</option>
    </select>
  </label>
</div>
<div class="aggregationParameter small-12 medium-3 cell">
  <label>Transformation parameter
    <input name="${nextPropertyIndex}][aggregationParameter]" type="number" value="1" step="0.1">
  </label>
</div>

<div class="rankingModelSimple small-12 medium-3 cell">
  <label>Model
    <select class="ranking-model-simple-select" onchange="projectSettings(this, ${nextPropertyIndex});"  name="${nextPropertyIndex}][rankingModelSimple]">
      <option value="1-0" title="Boolean model without further ordering of images with same rate of unsatisfied clauses.">Boolean</option>
      <option value="1-1" title="Boolean model with where images with same rate of unsatisfied clauses are sorted by SUM of rankings inside clauses.">BooleanSum</option>
      <option value="1-2" title="Boolean model with where images with same rate of unsatisfied clauses are sorted by MAX of rankings inside clauses.">BooleanMax</option>
      <option value="3-0" selected title="Logical ANDs are multiplied, ORs are summed.">Multiply/Sum</option>
      <option value="3-1" title="Logical ANDs are multiplied, ORs take maximum.">Multiply/Max</option>
      <option value="3-2" title="Logical ANDs are summed, ORs are summed.">Sum/Sum</option>
      <option value="3-3" title="Logical ANDs are summed, ORs take maximum.">Sum/Max</option>
    </select>
  </label>

  <label>Query Expansion // 1-> all substrings, 2 -> substring matching whole word, 3 -> w2v, 23 -> 2&3
    <select name="${nextPropertyIndex}][expansionSettigns]">
        <option value="0" title="" selected>NoExpansion</option>
        <option value="1" title="" selected>AnySubstring</option>
        <option value="2" title="" selected>WholeSubstring</option>
        <option value="3" title="" selected>WordToVec</option>
        <option value="23" title="" selected>WholeSubstring + WordToVec</option>

    </select>
  </label>

</div>
<div class="rankingModel small-12 medium-3 cell">
  <label>Ranking model
    <select class="ranking-model-select" name="${nextPropertyIndex}][rankingModel]">
      <option value="1" selected title="Based on Boolean model but images that do not fully satisfy formula are included with lower rank. Ranks are primarly based on number of satisfied clauses. They can be sorted within buckets as well.">Boolean</option>
      <option value="3" title="VIRET tool model.">Viret Base</option>
    </select>
  </label>
</div>

<div class="keywordFrequency small-12 small-12 cell">
  <label>Keyword frequency
    <select class="keyword-frequency-select" name="${nextPropertyIndex}][keywordFrequency]">
      <option value="0" selected>Ignore</option>
      <option value="1">Take into account</option>
    </select>
  </label>
</div>


<div class="dataSource small-12 medium-3 cell">
  <label>Data source
    <select name="${nextPropertyIndex}][dataSource]">
        <option value="0" title="Queries that has been gathered from people developing this app." selected>Developers</option>
        <!--<option value="1" title="Queries gathered from wild public on the internet.">Public</option>-->
        <option selected value="999" title="Queries gathered from wild public on the internet.">All</option>
  
        <!--<option value="10000" title="Queries that has been gathered from people developing this app.">Developers - simulated</option>
        <option value="10001" title="Queries gathered from wild public on the internet.">Public - simulated</option>
        <option value="10999" title="Queries gathered from wild public on the internet.">All - simulated</option>
  
        <option value="20000" title="Queries that has been gathered from people developing this app.">Developers + simulated temp</option>
        <option value="20001" title="Queries gathered from wild public on the internet.">Public + simulated temp</option>
        <option value="20999" title="Queries gathered from wild public on the internet.">All + simulated temp</option>
        -->
    </select>
  </label>
  <label>
    Simulated k
    <input name="${nextPropertyIndex}][simulatedUser_exponent]" type="number" value="1" step="1">
  </label>
</div>

<!-- Boolean custom model settings -->
<div class="model-properties model-type-1 small-12 cell">
  <div class="grid-x grid-padding-x text-center">

    <div class="small-12 cell">
      <small>Model specific settings:</small>
    </div>
    <div class="boolean_trueTreshold small-12 medium-3 cell">
      <label>
        True treshold
        <input name="${nextPropertyIndex}][boolean_trueTreshold]" type="number" value="0.001" step="0.00001">
      </label>
    </div>

    <div class="boolean_inBucketRanking small-12 medium-3 cell">
      <label>In bucket ranking
        <select class="in-bucket-ranking-select" name="${nextPropertyIndex}][boolean_inBucketRanking]">
          <option value="0" selected>None</option>
          <option value="1">Sum</option>
          <option value="2">Max</option>
        </select>
      </label>
    </div>

  </div>
</div>

<!-- Viret base settings -->
<div class="model-properties model-type-3 small-12 cell">
  <div class="grid-x grid-padding-x text-center">
    <div class="small-12 cell">
      <small>Model specific settings</small>
    </div>
    <div class="viret_trueTreshold small-12 medium-3 cell">

      <label>
        True treshold
        <input name="${nextPropertyIndex}][viret_trueTreshold]" type="number" value="0.0" step="0.00001">
      </label>
    </div>

    <div class="viret_queryOperations small-12 medium-3 cell">
      <label>Query operation
        <select class="query_operations-select" name="${nextPropertyIndex}][viret_queryOperations]">
          <option value="0" selected>Multiply / Sum</option>
          <option value="1">Multiply / Max</option>
          <option value="2">Sum / Sum</option>
          <option value="3">Sum / Max</option>
          <option value="4">Max / Max</option>
        </select>
      </label>
    </div>

  </div>
</div>
