
<section class="oc-ranker-settings-left-section grid-container">
  
  
  <form class="ranking-model-settings-form grid-x grid-padding-x align-center" action="<%= ocRankerSettingsLeft_ranker_formActionAddress %>" method="GET">
    
    <%- include form_part_model_settings.ejs %>

    <input type="submit" class="button" value="Save settings"/>
  </form>
</section>


<!-- Add logic for form -->
<script src="/javascripts/form_part_model_settings_logic.js"></script>
