<li class="grid-x grid-padding-x text-center" data-property-index="${nextPropertyIndex}">

  <h2 class="index-title">${nextPropertyIndex}</h2>

  <a class="remove-poperty button" onclick="removeProperty(this)" >&#10006</a>

  <%- include form_part_model_settings_template.ejs %>



</li>


