<li class="grid-x grid-padding-x text-center" data-property-index="${nextPropertyIndex}">

  <a class="remove-poperty button" onclick="removeProperty(this)" >x</a>

  <div class="medium-4 cell">
      <label>Aggregation
        <select name="${nextPropertyIndex}][aggregation]">
          <option value="0" selected>Softmax</option>
          <option value="1">Min Max Clamp</option>
        </select>
      </label>
    </div>

  <div class="medium-4 cell">
    <label>Ranking model
      <select class="model-type-select" name="${nextPropertyIndex}][modelType]">
        <option value="0">Boolean</option>
        <option value="1" selected>Boolean Custom</option>
        <option value="2" >Boolean Extended</option>
        <option value="3">Viret Base</option>
        <option value="4">Fuzzy Logic</option>
      </select>
    </label>
  </div>

  <div class="medium-4 cell">
    <label>Data source
      <select name="${nextPropertyIndex}][dataSource]">
        <option value="0" selected>Developers</option>
        <option value="1">Public</option>
      </select>
    </label>
  </div>

  <!-- Boolean model settings -->
  <div class="model-properties model-type-0 small-12 cell hidden-by-default">
    <div class="grid-x grid-padding-x text-center">
        <div class="small-12 cell">
            <small>Model specific settings</small>
        </div>
        <div class="medium-4 cell">
            
          <label>
            True treshold
            <input name="${nextPropertyIndex}][trueTresholds2]" type="number" value="0.005" step="0.01">
          </label>
        </div>

    </div>
  </div>

  <!-- Boolean custom model settings -->
  <div class="model-properties model-type-1 small-12 cell">
      <div class="grid-x grid-padding-x text-center">
          <div class="small-12 cell">
            <small>Model specific settings</small>
          </div>
          <div class="medium-4 cell">
              
            <label>
              True treshold
              <input name="${nextPropertyIndex}][trueTreshold]" type="number" value="0.005" step="0.01">
            </label>
          </div>

          <div class="medium-4 cell">
              <label>In bucket ranking
                <select class="in-bucket-ranking-select" name="${nextPropertyIndex}][inBucketRanking]">
                  <option value="0" selected>None</option>
                  <option value="1">Sum</option>
                </select>
              </label>
            </div>
  
      </div>
    </div>

    <!-- Boolean extended model settings -->
    <div class="model-properties model-type-2 small-12 cell hidden-by-default">
      <div class="grid-x grid-padding-x text-center">
          <div class="small-12 cell">
              <small>Model specific settings</small>
          </div>
          <div class="medium-4 cell">
              
            <label>
              True treshold
              <input name="${nextPropertyIndex}][trueTreshold3]" type="number" value="0.005" step="0.01">
            </label>
          </div>
  
    
        </div>
      </div>

      <!-- Viret base settings -->
      <div class="model-properties model-type-3 small-12 cell hidden-by-default">
        <div class="grid-x grid-padding-x text-center">
            <div class="small-12 cell">
                <small>Model specific settings</small>
            </div>
            <div class="medium-4 cell">
                
              <label>
                True treshold
                <input name="${nextPropertyIndex}][trueTreshold4]" type="number" value="0.005" step="0.01">
              </label>
            </div>
  
            <div class="medium-4 cell">
                <label>Query operation
                  <select class="in-bucket-ranking-select" name="${nextPropertyIndex}][queryOperation]">
                    <option value="0" selected>Multiply, Add</option>
                    <option value="1">Add only</option>
                  </select>
                </label>
              </div>
    
        </div>
      </div>

</li>


