<li class="generated-opts-cont grid-x grid-padding-x text-center" data-property-index="${nextPropertyIndex}">

  <h2 class="index-title">${nextPropertyIndex}</h2>

  <a class="remove-poperty button" onclick="removeProperty(this)" >&#10006</a>

  <%- include tester_form_options.ejs %>



</li>


