<!-- Include header -->
<%- include common/header.ejs %>

<section class="welcome-section grid-container text-center">
  <div class="grid-x grid-padding-x">
    <div class="welcome callout success cell large-12">
      <h1>Documentation</h1>
    </div>
  </div>
</section>
<section class=" grid-container text-center">
  <div class="docs grid-x grid-padding-x">
    <h2>API</h2>
    <p>
      You can send GET request to get image rankings back. Format is:</p>
      <pre>http://li1985-59.members.linode.com/api_get_relevant_images?num_results=600&aggregation=1&ranking_model=3&settings_array=0.0+1&query=2959942+2959942</pre>
      <p><br/>This example fetches for query "car&street" first 600 ranked images using Viret ranking model over Softmax vector with settings - 0.0 treshold for throwing away keyword and using only sum approach.
      </p>
      <h5>Parameters:</h5>
        <ul>
          <li>num_results - Number of results your want to fetch</li>
          <li>aggregation - What vector will be used for sampling (e.g. softmax, linear, ...)
            <small>This value correspond to input values used in app (just 'Inspect element' and read 'value' attribute)</small>
          </li>
          <li>ranking_model - What model will be used for ranking of images
              <small>This value correspond to input values used in app (just 'Inspect element' and read 'value' attribute)</small>
          </li>
          <li>settings_array - Specific options for selected model
              <small>This value correspond to input values used in app for specific model in the same order (just 'Inspect element' and read 'value' attribute)</small>
          </li>
          <li>query - Query itself as '+' separated list of WordnetIDs of wanted keywords - '+' is substitution for & symbol </li>
        </ul>
      </p>


    </p>
    <h2>Image finder</h2>
    <p>
      You can specify what model, aggregation, model settings, etc. Then just fill in keywords and search.</p>

    <p> Above the keywords selected there is input where you can put image of ID you're looking for. After search index of that image will be shown.
    </p>

    <p>You can <strong>click</strong> images to show it's detail.</p>

    <hr />

    <h2>Tests</h2>
    <p>
      You can add as many chart blocks you want clicking <strong>"Add chart window"</strong>.</p>

      <p>
      You can add as many settings to one chart as you want clicking <strong>"Add test to chart"</strong>.</p>

      <p>
      Fill in settings you want to see and click <strong>"Run test"</strong></p>

      <p>
      When tests are completed, charts with results will be displayed.</p>


    <hr />
  </div>
</section>


<!-- Include footer -->
<%- include common/footer.ejs %>