<!-- Include header -->
<%- include common/header.ejs %>

<section class="image-finder-main-body grid-container">
  <div class="grid-x grid-padding-x align-center">

    
    
      <!-- Include autocomplete module -->
      <%- include modules/image_finder_body.ejs %>

    

  </div>
</section>

</body>

<!-- Include footer -->
<%- include common/footer.ejs %>