<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/material.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/ej2.min.js" type="text/javascript"></script>
  <link href="/stylesheets/index.css" rel="stylesheet">

  </head>
  <body>

    <section class="header main">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="#"><%= title %></a>

          <ul class="navigation main">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/collector/">Collector</a></li>
          </ul>
        </nav>
    </section>

    <section class="welcome-section">

        <div class="row center">
          <div class="welcome">
              <h1><%= title %></h1>
              <p>Welcome to data collecting interface for improving our video retrieval tool.</p>
          </div>
        </div>
    </section>
      
    <section class="instructions-section">
      <div class="row center">

        <div class="instructions-container column large-12">
          <div class="instructions">
            
              <h3>How to use this?</h3>
              <p>
                Look at picture you're seeing and try to fill into input field as much keywords describing items that are present in picture. <br/>
                You can use parentheses and logical operators & (logical AND) and | (logical OR) to better describe what your seeing. <br/>

                For example:
                There is bike in the picture and a tree. There is also some animal that you're not sure if it's a caguar or a cheetah.
              
                So your query will look like: 
              </p>

            </div>
        </div>

      </div>
    </section>
  </body>


  <script src="/javascripts/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</html>
