<!-- Include header -->
<%- include common/header.ejs %>

<section class="welcome-section">

  <div class="row center">
    <div class="welcome">
      <h1><%= title %></h1>
      <p>Welcome to data collecting interface for improving our video retrieval tool.</p>
    </div>
  </div>
</section>

<section class="instructions-section">
  <div class="row center">

    <div class="instructions-container column large-12">
      <div class="instructions">

        <h3>How to use this?</h3>
        <p>
          Look at picture you're seeing and try to fill into input field as much keywords describing objects that are
          present in picture.</p>
        <p>You can use parentheses and logical operators & (logical AND) and | (logical OR) to better describe what your
          seeing if you're not sure what that is.



          You're alowed to use only keywords that are present in our database. There is autocomplete implemented in the
          input field.</p>

        <p>Just type few letters from wor you want to use
          and see it that keywors is present or not. If it is just press ENTER and keyword will be selected.
        </p>

        <p>Logical operators behave like standalone keywords. In case you'd need to use OR operator, you have to enclose
          keywords you want to OR into parentheses so operator precedence is
          evaluated correctly. </p>

        <p>For example:<br />
          There is bike in the picture and a tree. There is also some animal that you're not sure if it's a caguar or a
          cheetah.</p>

        <p>So your query could look like: <br />
          <br> cage & zoo & ( caguar | cheetah )</br>
        </p>

        </p>

      </div>
    </div>

  </div>
</section>

<!-- Include footer -->
<%- include common/footer.ejs %>