<!-- Include header -->
<%- include common/header.ejs %>

<section class="welcome-section grid-container text-center">
  <div class="grid-x grid-padding-x">
    <div class="welcome cell large-12">
      <h1><%= global.gConfig.app_name %></h1>
      <h2><%= global.gConfig.app_subname %></h2>
      <p>KISSEval serves as evaluation tool that helps you to choose right approach with keyword search</p>
    </div>
  </div>
</section>
<section class="welcome-instructions grid-container text-center">
  <div class="grid-x grid-padding-x">
  <div class="intro-left cell large-4">
    <h2>Query annotator</h2>
    <p>Users are to describe randomly selected image as good as possible with available keywords.</p>
    <a href="/annotator" class="button minor">Query annotator</a>
  </div>
  <div class="intro-middle cell large-4">
    <h2>Ranker</h2>
    <p>Goal is to find target image using keywords and iterative query reformulations in the interactive search tool.</p>
    <a href="/ranker" class="button major">Ranker</a>
  </div>
  <div class="intro-right cell large-4">
    <h2>Evaluator mode</h2>
    <p>More features are available after switching to evaluator mode. Evaluator password is required.</p>
    
    <% if (state.userLevel < 10) { %>
    
      <button class="button login-dev" data-open="exampleModal2">Switch to EVAL MODE</button>
    
    <% } else { %>
    
      <form class="dev-login-form" action="/switch_to_public_mode" method="POST">
        <input type="submit" class="button success" value="Switch to public mode">
      </form>
    
    <% }  %>

  </div>
</section>
<section class="contact-block grid-container text-center">
  <div class="grid-x grid-padding-x">

    <div class="contact-us large-12 cell">
      <p>In case of any problems or questions, please <A HREF="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%66%72%61%6E%6B%6D%65%6A%7A%6C%69%6B%40%67%6D%61%69%6C%2E%63%6F%6D">email me</A>.</p>
    </div>

  </div>
</section>




<!-- Include footer -->
<%- include common/footer.ejs %>