<!-- Include header -->
<%- include common/header.ejs %>

<section class="welcome-section grid-container text-center">
  <div class="grid-x grid-padding-x">
    <div class="welcome cell large-12">
      <h1><%= global.gConfig.subtitle %></h1>
      <p>KISSEval serves as evaluation tool that helps you to choose right approach with keyword search</p>
    </div>
  </div>
</section>
<section class="welcome-instructions grid-container text-center">
  <div class="grid-x grid-padding-x">
  <div class="intro-left cell large-4">
    <h2>Query annotator</h2>
    <p>Users are to describe randomly selected image as good as possible with provided keywords</p>
    <a href="/annotator" class="button minor">Query annotator</a>
  </div>
  <div class="intro-middle cell large-4">
    <h2>Ranker</h2>
    <p>Goal is to find target image with keyword query and iterative query refining with keyword suggestions</p>
    <a href="/ranker" class="button major">Ranker</a>
  </div>
  <div class="intro-right cell large-4">
    <h2>Statistics</h2>
    <p>Some important statistics based od collected data that are might be interesting for your future work</p>
    <a href="/statistics" class="button minor">Statistics</a>
  </div>
</section>
<section class="contact-block grid-container text-center">
  <div class="grid-x grid-padding-x">

    <div class="contact-us large-12 cell">
      <p>If you have any questions, feel free to <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#114;&#97;&#110;&#116;&#105;&#115;&#101;&#107;&#46;&#109;&#101;&#106;&#122;&#108;&#105;&#107;&#64;&#109;&#97;&#116;&#102;&#121;&#122;&#46;&#99;&#122;">contact us</a>.</p>
    </div>

  </div>
</section>




<!-- Include footer -->
<%- include common/footer.ejs %>