<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= global.gConfig.title %> | <%= global.gConfig.title %></title>
  
  <!-- Foundation styles -->
  <link rel="stylesheet" href="/stylesheets/foundation.css">

  <!-- Main custom styles -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="top-bar header main">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="/">
          <span class="title"><%= global.gConfig.title %></span>  
          <span class="subtitle"><%= global.gConfig.subtitle %></span>  
        </a></li>
        <li class="menu-item">
          <a href="/collector/">Play</a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">

    </div>
  </div>