<form id="formChangeActiveDataPack" class="kw-sc-data-type-form grid-x grid-padding-x" method="POST"
    action="/set_active_data_pack">

    <label class="cell small-12">
        Data packs:
        <select name="dataPackId">

        <% const dps = state.loadedDataPacks;
        for (let i = 0; i < dps.length;  ++i){ %>
            <option value="<%= dps[i].id %>" <%  if (dps[i].id == state.activeDataPackId) { %> selected <% }%>><%= dps[i].id %> (vocab: <%= dps[i].vocabulary_ID %>)</option>
        <% } %>

        </select>

        <input type="submit" class="button" value="Save">
    </label>
</form>

<script>
    $('#formChangeActiveDataPack').on('submit', function (e) {
        e.preventDefault();

        const formData = new FormData(this);
        const data = {}
        for (var [key, value] of formData.entries()) {
            data[key] = value;
        }

        fetch($(this).attr('action'), {
            method: "POST",
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        }).then(
            res => {
                if (!res.ok)
                    throw Error("Request NOKed.");

                return res.json();
            }
        ).then(
            json_data => {
                showGlobalHeaderSettingsBarMessageBoxMessage("Data pack changed", 5000);
            }
        );

    });
</script>