
<form id="formGetSearchSessionsRankProgressChartData" class="grid-x grid-padding-x">
    <div class="row">
        <div class="pre-gen-buttons-cont cell small-12">
            <label class="">
                Source data pack:
                <select id="dataPackId" name="dataPackId">
                    <option value="NasNet2019">NasNet2019</option>
                </select>
            </label>
            <a class="button" onclick="getSearchSessionsRankProgressChartData(this);">Generate</a>
        </div>
        <div class="chart-cont-general cell small-12" style="position: relative; height:400px; width:600px">
            <canvas id="searchSessionsRankProgressChartCanvas"></canvas>
        </div>

        <div class="post-gen-buttons-cont small-12">

        </div>
    </div>
</form>

<script>
    function getSearchSessionsRankProgressChartData(btnElem) {
        
        // Get the form
        const formElem = btnElem.closest("#formGetSearchSessionsRankProgressChartData");
        const chartCanvasElem = document.getElementById("searchSessionsRankProgressChartCanvas");

        const postButtonsContElem = formElem.querySelector(".post-gen-buttons-cont");

        const formData = new FormData(formElem);
        const data = {}
        for (var [key, value] of formData.entries()) {
            data[key] = value;
        }

        fetch("/get_search_sessions_rank_progress_chart_data", {
            method: "POST",
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then((res) => res.json())
        .then((data) => {
            if (data.error)
            {
                throw Error(data.error.message);
            }
            // Plot the quantile chart
            plotQuantileLineChart(data.chartData, chartCanvasElem);

            // Add data button
            postButtonsContElem.innerHTML = `
            <a target="_blank"  class="button success" href="${data.filename0}"> JSON data</a>
            <a target="_blank"  class="button success" href="${data.filename1}"> CSV data</a>
            `;

        })
        .catch((e) => {
        console.log("Error: " + JSON.stringify(e.message));
        showGlobalMessage("Getting search session chart data failed.", "", 5000, "e");
        });

    };


</script>